@model IEnumerable<EmlpoyeeMgt.Models.Employee>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    
    ViewBag.Title="Employee List";
    
}

    
            @foreach (var employee in Model)
            {  
                var photoPath="images/"+(employee.PhotoPath ?? "images.jpg");
                <div>
                    <h2>@employee.Name</h2>
                </div> 
                <img src="@photoPath " />
                <div>
                    <p>
                        @employee.Department
                    </p>
                     <p>
                        @employee.Email
                    </p>
                </div>
                <div>
                    <a asp-controller="Home" asp-action="Details"  asp-route-id="@employee.Id">View</a>
                    <a asp-controller="home" asp-action="edit" asp-route-id="@employee.Id" >Edit</a>
                    <a href="" >Delete</a>
                </div>
            }
